.card {
  width: 33%;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 15px 15px;
}
.top {
  margin-bottom: 40px;
}
.name_rating {
  display: flex;
  align-items: center;
  gap: 20px;
}
.name_rating p {
  font-size: 20px;
  font-weight: 600;
}
